.input-group[class*=form_date] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}

.progress {
    margin-bottom: 0px;
}

.btn-default {
    background-color: #fafafa;
    border: #ccc solid 1px;
    color: #717171;
    font-size: 13px;
}
