.input-group[class*=form_date] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}

.input-group[class*=form_time] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}

.progress {
    margin-bottom: 0px;
}

.btn-default {
    background-color: #fafafa;
    border: #ccc solid 1px;
    color: #717171;
    font-size: 13px;
}

#main-content {
    margin-left: 0px;
}

.hr {
    width: 100%;
    float: left;
}

.hr hr {
    border: 0;
    border-top: 1px solid red;
}

.ddd {
    margin-top: 54px;
}

.dd-handle {
    cursor: pointer;
}

.tal {
    text-align: left;
    line-height: 80px;
    vertical-align: middle;
}

.tar {
    text-align: right;
    line-height: 80px;
    vertical-align: middle;
}

.tac {
    text-align: center;
    line-height: 16px;
}

.fa-hover {
    cursor: pointer;
}

.dashboard-tile {
    cursor: pointer;
}

.gameInfo {
    cursor: pointer;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.nextGame {
    text-align: right;
}

.round {
    height: 40px;
    background: gainsboro;
}

.roundNumber {
    text-align: center;
}

.boardData {
    margin-top: 10px;
    border-bottom: 1px solid gold;
}

#addTab {
    padding-left: 10px;
    padding-top: 10px;
}


/*---copyrights--*/

.copy-right {
    margin: 4em 0em 2em 0em;
}

.copy-right p {
    text-align: center;
    font-size: 1em;
    color: #fff;
    font-family: 'Droid Sans', sans-serif;
}

.copy-right p a {
    color: #000;
}

.copy-right p a:hover {
    color: #68ba8a;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

#attendGameList {
    list-style: none;
    float: left;
}

.col-xs-4 p span {
    margin-left: 10px;
}

#gameBrief {
    text-align: center;
    padding: 24px;
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    color: #1F0CB1;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 0.2em #D7EAC2, -0 -0 0.2em #D7EAC2;
}
#subData {
    float: right;
    width: auto;
    min-width: 33%;
}