.input-group[class*=form_date] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}

.progress {
    margin-bottom: 0px;
}

.btn-default {
    background-color: #fafafa;
    border: #ccc solid 1px;
    color: #717171;
    font-size: 13px;
}

#main-content {
    margin-left: 0px;
}

.complete-sign {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 300px;
    height: 300px
}

.hr {
    width: 100%;
    float: left;
}

.hr hr {
    border: 0;
    border-top: 1px solid red;
}

.ddd {
    margin-top: 54px;
}

.dd-handle {
    cursor: pointer;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}
